// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #9c4274;

$title-color:       rgba(255, 255, 255, 0.7);
$meter-background:  rgba(0,   0,   0,   0.2);

// ----------------------------------------------------------------------------
// Widget-meter styles
// ----------------------------------------------------------------------------
.widget-meter {

  background-color: $background-color;

  input.meter {
    background-color: $meter-background;
    color: #fff;
    font-size: 40px !important;
  }
  .postfix {
    position: absolute;
    margin-top: -92px;
    font-weight: 600;
    font-size: 1.2em;
    width: 93%;
    text-align: center;
  }

  .title {
    color: $title-color;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }

}
