// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #12b0c5;
$value-color:       #fff;

$title-color:       rgba(255, 255, 255, 0.7);
$label-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-list styles
// ----------------------------------------------------------------------------
.widget-wrlist {

  padding-top: 0px !important;

  background-color: $background-color;
  vertical-align: top;
  font-size: 0.8em;

  .title {
    color: $title-color;
  }

  ul {
    margin: 0 15px;
    text-align: left;
    color: $label-color;
    li { float: left; width: 100%; }
  }

  .list-nostyle {
    list-style: none;
  }

  .label {
    color: $label-color;
    width: 62%;
    padding-bottom: 5px;
  }

  .wrhead {
    font-weight: 600;
    color: $value-color;
    width: 37%;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }

  .more-info {
    color: $moreinfo-color;
    a {
      text-decoration: underline;
    }
  }

  div { float: left; }

}
